<div class="container">
  <kendo-grid [data]="users">
    <kendo-grid-column field="id" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="300">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email">
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone">
    </kendo-grid-column>
    <kendo-grid-column field="website" title="Website">
    </kendo-grid-column>
    <kendo-grid-column field="company" title="Company" width="300">
      <ng-template kendoGridCellTemplate let-company>
          {{ company.name }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address" width="300">
        <ng-template kendoGridCellTemplate let-address>
            {{ address.street }}
        </ng-template>
      </kendo-grid-column>
  </kendo-grid>
</div>
