<div class="container">

  <p>Remote date with local pagination with column freeze mode</p>
  <kendo-grid [data]="gridView" [pageSize]="pageSize" [pageable]="true" [skip]="skip" (pageChange)="pageChange($event)">
    <kendo-grid-column field="id" title="ID" width="40" [locked]="true">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="200" [locked]="true">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="200" [locked]="true">
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="website" title="Website" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="company" title="Company" width="150">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.company.name }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address" width="250">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.address.street }}
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
