<div class="container">
  <button kendoButton (click)="openWindow()">Open inline window</button>
  <button (click)="openWindowAsService()" class="k-button">Open dynamic window (as service)</button>

  <kendo-window [minWidth]="600" [minHeight]="125" title="About" *ngIf="windowOpened" (close)="closeWindow()">
    <form class="k-form">
      <fieldset>
          <legend>User Details</legend>

          <label class="k-form-field">
              <span>First Name</span>
              <input class="k-textbox" placeholder="Your Name" />
          </label>
          <label class="k-form-field">
              <span>Last Name</span>
              <input class="k-textbox" placeholder="Your Last Name" />
          </label>
      </fieldset>

      <div class="text-right">
          <button type="button" class="k-button" (click)="closeWindow()">Cancel</button>
          <button type="button" class="k-button k-primary" (click)="submit()">Submit</button>
      </div>
    </form>
  </kendo-window>

  <div kendoWindowContainer></div>
</div>
